.main {
  display: flex;
  overflow: hidden;
  position: relative;
  flex: 1 0 auto;

  .left {
    padding: 3rem;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245 245 249);

    > img {
      height: auto;
      max-width: 100%;
      /* overflow-clip-margin: content-box; */
      overflow: clip;
    }
  }

  @media only screen and (max-width: 1200px) {
    .left {
      display: none;
      padding: 0;
    }
  }

  @media (min-width: 600px) {
    .right {
      padding: 3rem;
    }
  }

  @media (min-width: 1536px) {
    .right {
      max-width: 735px;
    }
  }

  @media (min-width: 1200px) {
    .right {
      max-width: 580px;
    }
  }

  .right {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    flex-direction: column;

    .title {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px 0px 0px 0.5rem;
      font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: rgba(50, 71, 92, 0.87);
      line-height: 1;
      font-weight: 700;
      letter-spacing: -0.45px;
      text-transform: lowercase;
      font-size: 1.75rem !important;
      width: 100%;
      padding: 0 3rem;
      max-width: 500px;
    }

    .description {
      margin: 0px 0px 0.375rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.6;
      color: rgba(50, 71, 92, 0.87);
      width: 100%;
      padding: 0 3rem;
      max-width: 500px;
    }

    .login-form {
      width: 100%;
      padding: 3rem;
    }

    .aText {
      color: #2e8555;
      text-decoration: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: color 0.3s;
      display: inline-block;
      margin-top: 3px;
      padding: 0 5px;
    }

    .aTexts {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3px;

      .aText {
        color: #2e8555;
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: color 0.3s;
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}
